.audio-recorder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-recording-button,
.stop-recording-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

.stop-recording-button {
  background-color: #f44336;
}

audio {
  width: 50%;
  margin-top: 20px;
}
